<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=    <h1>This is a homepage</h1>
, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>About</title>
</head>
<body>
   <nav>
    <h1>About doggo page</h1>
    <a href="/">Go to homepage</a>
    <a href="/poem">Read dog poem</a>
    <a href="/gallery">Gallery</a>
   </nav>

   <section>
    
    <p>At our website, we celebrate the incredible bond between humans and dogs by paying tribute to our four-legged friends. Dogs have been our faithful companions for thousands of years,
         and we believe they deserve to be honored for their unwavering loyalty and love. Our team is dedicated to sharing heartwarming stories, informative articles, and fun facts about dogs to inspire and educate dog lovers everywhere.
        Whether you're a lifelong dog owner or simply appreciate the unique role that dogs play in our lives, our website is the perfect place to explore all things canine.
        We believe that dogs are more than just pets - they are family members, protectors, and sources of comfort and joy. Join us in celebrating the amazing world of dogs!</p>
    <img src="https://images.unsplash.com/photo-1541364983171-a8ba01e95cfc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80">
   </section> 
</body>
</html>