<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=    <h1>This is a homepage</h1>
, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Gallery</title>
</head>
<body>
    <nav>
    <h1>Photo gallery</h1>
    <a href="/">Go to homepage</a>
    <a href="/poem">Read dog poem</a>
    <a href="/about">Gallery</a>
    </nav>
    <section class="gallery">
        <img src="https://plus.unsplash.com/premium_photo-1669040674572-836c64a3ac70?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=765&q=80">
        <img src="https://images.unsplash.com/photo-1535930749574-1399327ce78f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Y3V0ZSUyMGRvZ3N8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60">
        <img src="https://images.unsplash.com/photo-1563889362352-b0492c224f62?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGN1dGUlMjBkb2dzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60">
        <img src="https://images.unsplash.com/photo-1548135160-2ddd99526762?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjh8fGN1dGUlMjBkb2dzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60">
        <img src="https://plus.unsplash.com/premium_photo-1663127309138-2660abe8604f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzd8fGN1dGUlMjBkb2dzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60">
        <img src="https://images.unsplash.com/photo-1592276788737-babffe631b2e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTF8fGN1dGUlMjBkb2dzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60">

    </section>

</body>
</html>