<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Doggo Page</title>
</head>
<body>
    <nav> 
     <h1>Welcome to Doggo Page</h1>
     <a href="/about">About this page</a>
     <a href="/poem">Read dog poem</a>
     <a href="/gallery">Gallery</a>
    </nav>
    <section>
        <h1>Dedicated to all dogs of this world.<h2>
        <p>Thank you for all the cuteness</p>
        <img src="https://images.unsplash.com/photo-1508280756091-9bdd7ef1f463?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1516&q=80">
        <p>Created by Rafal Kolibaba</p>
    </section>
</body>
</html>