<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Poem</title>
</head>
<body>
    <nav>
    <h1>Doggo Poem</h1>
    <a href="/">Go to homepage</a>
    <a href="/about">About this page</a>
    <a href="/gallery">About this page</a>
    </nav>
    <div class="poem">
        <br>
        <br>
        "Humans and dogs, we go way back, <br>
        Our love for them is never out of whack. <br>
        They bark, they wag, they lick our faces, <br>
        And we give them treats and endless embraces. <br>
        <br>
        We dress them up in silly clothes, <br>
        And take them out to strike a pose. <br>
        We make them Instagram famous, <br>
        And watch as their followers amass. <br>
        <br>
        We talk to them like they're human, <br>
        And give them nicknames that are truly uncommon. <br>
        We let them take over our beds, <br>
        And even let them rest their heads. <br>
        <br>
        We throw them birthday parties and cake, <br>
        And watch them gobble it down, no mistake. <br>
        We spend a fortune on their toys, <br>
        And clean up after their endless ploys. <br>
        <br>
        We let them be our therapists and healers, <br>
        And never question their opinions or feelers. <br>
        We love our dogs, more than we love ourselves, <br>
        And for that, we'll never apologize or shelve. <br>
        <br>
        So here's to our furry friends and loyal companions, <br>
        Who always bring us joy and endless celebrations. <br>
        We love you, our dogs, more than words can say, <br>
        And promise to cherish you, each and every day. <br>
        "
        <br>

    </div>

</body>
</html>